.video-wrapper {
    width: 25%; /* Imposta la larghezza del contenitore del video a 25% della larghezza del suo contenitore padre */
    padding-top: 14.0625%; /* Imposta il padding top a 25% dell'aspect ratio originale (9/16) */
    margin: auto; /* Centra il contenitore */
    position: relative; /* Per il posizionamento assoluto del video */
}

.video-wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Fa sì che il video riempia il .video-wrapper */
    height: auto; /* Mantiene l'aspect ratio */
}

.overlay {
    position: absolute;
    top: 50%; /* Centers the link */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; /* Make sure it sits above the video */
}

.overlay a {
    color: #fff; /* or any color you prefer */
    text-decoration: none;
    font-size: 24px; /* or the size you prefer */
    background-color: rgba(0, 0, 0, 0.7); /* semi-transparent black background */
    padding: 10px 20px; /* or the padding you prefer */
    border-radius: 5px; /* optional, for rounded corners */
}
