.video-wrapper {
    position: relative;
    width: 100%; /* il contenitore del video sarà largo quanto il suo contenitore padre */
    padding-top: 56.25%; /* mantiene un aspect ratio di 16:9 */
    margin: auto; /* centra il contenitore se necessario */
}

.video-wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Il video riempie completamente il .video-wrapper */
    height: 100%;
}


.overlay {
    position: absolute;
    top: 50%; /* Centers the link */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; /* Make sure it sits above the video */
}

.overlay a {
    color: #fff; /* or any color you prefer */
    text-decoration: none;
    font-size: 24px; /* or the size you prefer */
    background-color: rgba(0, 0, 0, 0.7); /* semi-transparent black background */
    padding: 10px 20px; /* or the padding you prefer */
    border-radius: 5px; /* optional, for rounded corners */
}

@media (max-width: 768px) {
    .video-wrapper {
        width: 50%; /* Imposta la larghezza a 50% per schermi medio-piccoli */
        padding-top: calc(50% * 9 / 16); /* Adegua il padding-top per mantenere l'aspect ratio */
    }
}

@media (max-width: 480px) {
    .video-wrapper {
        width: 75%; /* Imposta la larghezza a 75% per schermi piccoli */
        padding-top: calc(75% * 9 / 16); /* Adegua il padding-top per mantenere l'aspect ratio */
    }
}


