.video-wrapper {
    position: relative;
    width: 50%; /* Imposta la larghezza del video a metà della larghezza del contenitore */
    /* Imposta padding-top in base a un aspect ratio di 4:3 */
    padding-top: 37.5%; /* 50% * 3/4 = 37.5% */
    margin: auto; /* Centra il video-wrapper orizzontalmente */
    left: 0;
    right: 0;
}

.video-wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Questo fa in modo che il video riempia il .video-wrapper */
    height: 100%; /* Il video manterrà l'aspect ratio impostato dal padding-top del wrapper */
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    /* Resto del tuo CSS per .overlay */
}

/* Le media queries non sono più necessarie se il video e il contenitore sono già al 100% e responsivi */

